<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Speciality List</mat-card-title>
    <mat-card-subtitle>Select any Speciality to Filter Sessions</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option >
        Item 01
      </mat-list-option>
      <mat-list-option >
        Item 01
      </mat-list-option>
      <mat-list-option >
        Item 01
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>

</mat-card>

