.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: start;
  justify-content: start;
}

.example-sidenav {
  padding: 20px;
}

